/*RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

p, h1, h2, h3, h4 {
  margin-bottom: 0px; }

p, h1, h2, h3, h4 {
  color: white;
  font-family: "Montserrat", sans-serif; }
  p::selection, h1::selection, h2::selection, h3::selection, h4::selection {
    background-color: #61ce70;
    color: #0f0f0f; }

h2 {
  font-size: 37px;
  font-weight: 800;
  margin-left: 50px; }

h3 {
  margin: 20px 0px 20px 0px;
  font-weight: 800;
  font-size: 27px; }

h4 {
  margin: 20px 0px 20px 0px;
  font-size: 30px; }

a {
  text-decoration: none;
  color: #61ce70;
  font-family: "Montserrat", sans-serif; }
  a::selection {
    background-color: #61ce70;
    color: #0f0f0f; }

li {
  color: #61ce70;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0px 20px 0px 20px;
  list-style: none; }
  li::selection {
    background-color: #61ce70;
    color: #0f0f0f; }

html .boton::selection {
  background-color: #61ce70;
  color: #0f0f0f; }

/*boton general*/
.link-boton {
  padding: 10px 20px 10px 20px;
  color: #61ce70;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
  border: #61ce70 solid 2px;
  background-color: #00000000;
  box-shadow: 2px 2px 20px rgba(43, 43, 43, 0.685);
  margin-left: 0px; }
  .link-boton:hover {
    padding: 10px 20px 10px 20px;
    color: #61ce70;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    border: #FFFF solid 2px;
    background-color: #00000000;
    box-shadow: 2px 2px 20px rgba(43, 43, 43, 0.685); }

/*fin boton general*/
/*FORM DE CONTACTO BOOSTRAP*/
.form-label {
  color: white; }

.form-control {
  border: 2px solid;
  border-color: #61ce70;
  border-radius: 0px;
  background-color: #0000;
  color: #61ce70; }

/*HEADER*/
header {
  height: 100px;
  margin-bottom: -100px; }

/*nuevo menu boostrap*/
.nav-link {
  color: #61ce70; }

.navbar-nav li a {
  padding: 10px; }

.navbar-nav .nav-link.active {
  color: white; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  color: #61ce70; }

.navbar-toggler:hover {
  text-decoration: none;
  background: #0000;
  border: #61ce70 solid 2px; }

.navbar-toggler {
  text-decoration: none;
  background: #0000;
  border: #61ce70 solid 2px;
  color: #61ce70; }

/*background de seccion portada*/
.sectionPortada {
  background-image: url("../assets/img/fondo-inicio.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }
  .sectionPortada .portada-pagina-contacto {
    color: white;
    width: 100%;
    height: 700px;
    font-family: "Montserrat", sans-serif;
    background-position: center center;
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px; }
    .sectionPortada .portada-pagina-contacto h1 {
      margin-bottom: 50px;
      font-size: 50px;
      padding-top: 220px;
      font-weight: 800; }
    .sectionPortada .portada-pagina-contacto hr {
      border-color: #61ce70;
      border-width: 3px 0px 0px 0px;
      padding-right: 150px; }
    .sectionPortada .portada-pagina-contacto .boton-portada {
      padding-bottom: 100px; }
    .sectionPortada .portada-pagina-contacto .info-de-contacto {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .sectionPortada .portada-pagina-contacto .info-de-contacto div {
        display: inline-flex;
        gap: 10px;
        align-items: center; }
        .sectionPortada .portada-pagina-contacto .info-de-contacto div img {
          width: 30px;
          height: 30px; }

/*portada*/
/*fin portada*/
/*SECCION IMPRONTA*/
.impronta {
  box-sizing: 100%;
  display: inline-flex;
  width: 100%;
  padding: 100px;
  background-color: #0f0f0f; }
  .impronta .nuestra-impronta {
    width: 50%;
    margin-bottom: 0px;
    margin-left: 150px;
    padding-top: 0px; }
  .impronta .diferenciales {
    width: 50%;
    text-align: right;
    margin-right: 100px; }

/*seccion Servicios */
.servicios .adaptamos3 {
  text-align: center;
  background-color: black;
  margin: 0px;
  padding: 20px; }

.servicios .bloque-servicios {
  width: 100%;
  padding: 0px 300px;
  text-align: left;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  background-color: black; }
  .servicios .bloque-servicios .listado-servicios li {
    text-align: center;
    font-weight: 400; }

/*fin seccion Servicios */
/*seccion ultimos trabajos*/
.ultimos-trabajos {
  padding-top: 100px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%; }
  .ultimos-trabajos .ultimos-titulo {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .ultimos-trabajos .ultimos-titulo h2 {
      margin-bottom: 50px;
      padding-right: 100px;
      display: grid;
      justify-content: end; }
  .ultimos-trabajos .trabajos-index {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr; }
    .ultimos-trabajos .trabajos-index .trabajo1 {
      display: grid;
      justify-content: end;
      margin-bottom: -40px;
      margin-right: -20px;
      z-index: 4; }
      .ultimos-trabajos .trabajos-index .trabajo1 img {
        display: grid;
        max-width: 500px;
        box-shadow: 5px 5px 30px #1a1a1a;
        text-align: end;
        transition: transform 0.3s ease-in-out; }
        .ultimos-trabajos .trabajos-index .trabajo1 img:hover {
          transform: translateY(-15px); }
        .ultimos-trabajos .trabajos-index .trabajo1 img:hover ~ img {
          transform: translateY(0); }
    .ultimos-trabajos .trabajos-index .trabajo2 {
      display: grid;
      justify-content: start;
      margin-top: -80px;
      max-height: auto;
      z-index: 3; }
      .ultimos-trabajos .trabajos-index .trabajo2 img {
        display: grid;
        max-width: 500px;
        max-height: auto;
        box-shadow: 5px 5px 30px #111111;
        transition: transform 0.3s ease-in-out; }
        .ultimos-trabajos .trabajos-index .trabajo2 img:hover {
          transform: translateY(-15px); }
        .ultimos-trabajos .trabajos-index .trabajo2 img:hover ~ img {
          transform: translateY(0); }
    .ultimos-trabajos .trabajos-index .trabajo3 {
      display: grid;
      justify-content: end;
      z-index: 2;
      margin-right: -50px; }
      .ultimos-trabajos .trabajos-index .trabajo3 img {
        display: grid;
        max-width: 500px;
        box-shadow: 5px 5px 30px #111111;
        transition: transform 0.3s ease-in-out; }
        .ultimos-trabajos .trabajos-index .trabajo3 img:hover {
          transform: translateY(-15px); }
        .ultimos-trabajos .trabajos-index .trabajo3 img:hover ~ img {
          transform: translateY(0); }
    .ultimos-trabajos .trabajos-index .trabajo4 {
      display: grid;
      justify-content: start;
      margin-top: -300px;
      margin-left: -30px;
      z-index: 1; }
      .ultimos-trabajos .trabajos-index .trabajo4 img {
        display: grid;
        max-width: 500px;
        box-shadow: 5px 5px 30px #111111;
        margin-bottom: 50px;
        transition: transform 0.3s ease-in-out; }
        .ultimos-trabajos .trabajos-index .trabajo4 img:hover {
          transform: translateY(-15px); }
        .ultimos-trabajos .trabajos-index .trabajo4 img:hover ~ img {
          transform: translateY(0); }

/*fin seccion ultimos trabajos*/
/*SECCION CLIENTES*/
.clientes {
  text-align: center;
  padding-top: 100px;
  background-color: black; }
  .clientes div h2 {
    font-size: 30px;
    margin: 0px;
    padding: 0px; }
  .clientes .logos-clientes {
    width: 100%;
    padding: 30px; }
    .clientes .logos-clientes img {
      transition: transform 0.3s ease-in-out; }
      .clientes .logos-clientes img:hover {
        opacity: 70%;
        transform: translateY(-15px); }
      .clientes .logos-clientes img:hover ~ img {
        transform: translateY(0); }

/*cierre de inicio*/
.adaptamos {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black; }
  .adaptamos h2 {
    margin: 0px 0px 50px 0px; }

.adaptamos-2 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  background-color: black; }

/*pagina proyectos y otras */
.titulo-pagina-h2 {
  padding-top: 300px;
  font-size: 40px;
  margin: 0px; }

.bajada-pagina-h3 {
  margin-left: 0px; }

.section-presentacion {
  padding: 50px 150px;
  background-color: black;
  width: 100%; }
  .section-presentacion .presentacion-pagina {
    padding-top: 50px; }
  .section-presentacion div h4 {
    color: #61ce70;
    margin-right: 300px; }
  .section-presentacion div p, .section-presentacion div h1, .section-presentacion div h2, .section-presentacion div h3, .section-presentacion div h4 {
    font-weight: 300%;
    margin: 0px; }

.grid-proyectos {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  place-items: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 0px 150px; }
  .grid-proyectos figure {
    display: grid;
    max-width: 500px;
    font-family: "Montserrat", sans-serif;
    color: #FFFF;
    text-align: center;
    margin-bottom: 50px; }
    .grid-proyectos figure img {
      max-width: 500px; }
    .grid-proyectos figure iframe {
      max-width: 500px; }
    .grid-proyectos figure figcaption {
      padding-bottom: 50px;
      margin-top: 20px; }

.cierre-proyectos {
  padding: 150px;
  background-color: black; }
  .cierre-proyectos hr {
    border-width: 6px 0px 0px 0px;
    border-color: #61ce70;
    margin-left: 0px;
    margin-right: 90%; }
  .cierre-proyectos h3 {
    margin-bottom: 50px; }

/*pagina acerca de*/
.cv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 200px 100px 50px;
  background-color: black;
  width: 100%; }
  .cv .div-foto {
    justify-content: end;
    padding: 30px;
    display: grid;
    align-content: center; }
    .cv .div-foto img {
      max-width: 500px;
      height: auto;
      margin-left: -70px;
      margin-top: -45px;
      box-shadow: 5px 5px 10px #101010; }
  .cv .data-cv h3 {
    font-size: 1.5rem; }
  .cv .data-cv h4 {
    font-size: 2.5rem; }

.section-presentacion .que-es-OM h4 {
  font-weight: 700;
  font-size: 40px;
  padding: 20px 0px;
  text-transform: uppercase; }

.section-presentacion .que-es-OM p, .section-presentacion .que-es-OM h1, .section-presentacion .que-es-OM h2, .section-presentacion .que-es-OM h3, .section-presentacion .que-es-OM h4 {
  margin: 0px; }

/*Pagina servicios*/
.cards-servicios {
  display: flex;
  background-color: black;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding: 50px; }
  .cards-servicios .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    gap: 40px;
    padding: 20px 0px; }
    .cards-servicios .card-group .card {
      max-width: 300px;
      background-color: #0000; }
      .cards-servicios .card-group .card .card-body {
        max-width: 300px;
        border-radius: 0px;
        border: #61ce70 solid;
        background-color: #0000;
        padding: 20px 20px; }
        .cards-servicios .card-group .card .card-body .card-title {
          color: #61ce70;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          padding: 10px 0px; }

/*CONTACTO*/
.contacto-data-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 150px;
  background-color: black;
  width: 100%; }
  .contacto-data-form .datos-de-contacto {
    padding: 10px 0px 10px 0px; }
    .contacto-data-form .datos-de-contacto .info-de-contacto-1col {
      display: flex;
      flex-direction: column;
      margin: 0px;
      gap: 20px;
      padding-top: 20px; }
      .contacto-data-form .datos-de-contacto .info-de-contacto-1col div {
        display: inline-flex;
        gap: 10px;
        align-items: start; }
        .contacto-data-form .datos-de-contacto .info-de-contacto-1col div img {
          width: 30px;
          height: 30px; }

.ico-data {
  display: flex;
  margin: 10px 0px; }

/*COMIENZO FOOTER*/
footer {
  background-color: white;
  padding: 50px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 50px 50px; }
  footer p, footer h1, footer h2, footer h3, footer h4 {
    color: black;
    line-height: 1.5rem;
    font-size: 14px; }
  footer h3 {
    color: black;
    font-size: 30px; }

/*HEADER*/
/*section principal*/
@media (max-width: 768px) {
  .portada-pagina-contacto {
    padding: 0px 30px; }
    .portada-pagina-contacto h1 {
      font-size: 40px; }
    .portada-pagina-contacto h2 {
      font-size: 30px; }
    .portada-pagina-contacto h3 {
      font-size: 20px; } }

@media (max-width: 800px) {
  .info-de-contacto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0px; }
  .boton-portada {
    padding-bottom: 30px; } }

/*HOME*/
@media (max-width: 800px) {
  .impronta,
  .nuestra-impronta,
  .diferenciales {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    padding: 0px;
    width: 100%; }
  .nuestra-impronta,
  .diferenciales {
    text-align: start;
    padding: 40px; }
    .nuestra-impronta h2,
    .diferenciales h2 {
      margin: 0px;
      padding: 0px;
      font-size: 40px; } }

@media (max-width: 800px) {
  .servicios {
    background-color: black; }
    .servicios .bloque-servicios {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 0px; }
      .servicios .bloque-servicios .listado-servicios1 ul {
        padding: 0px;
        margin: 0px;
        text-align: center; }
        .servicios .bloque-servicios .listado-servicios1 ul li {
          text-align: center; }
  .adaptamos h3 {
    font-size: 20px; }
  .adaptamos h4 {
    font-size: 20px; }
  .ver-mas-proyectos {
    text-align: center;
    padding-top: 50px; } }

@media (max-width: 800px) {
  .ultimos-trabajos {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; }
    .ultimos-trabajos .ultimos-titulo {
      display: grid;
      grid-template-columns: 1fr; }
      .ultimos-trabajos .ultimos-titulo h2 {
        width: 100%;
        margin: 0px;
        text-align: center;
        padding: 20px;
        font-size: 25px;
        width: 100%;
        display: grid;
        justify-content: center; }
    .ultimos-trabajos .trabajos-index {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px; }
      .ultimos-trabajos .trabajos-index .trabajo1,
      .ultimos-trabajos .trabajos-index .trabajo2,
      .ultimos-trabajos .trabajos-index .trabajo3,
      .ultimos-trabajos .trabajos-index .trabajo4 {
        display: flex;
        justify-content: center;
        margin: 0px; }
        .ultimos-trabajos .trabajos-index .trabajo1 img,
        .ultimos-trabajos .trabajos-index .trabajo2 img,
        .ultimos-trabajos .trabajos-index .trabajo3 img,
        .ultimos-trabajos .trabajos-index .trabajo4 img {
          margin: 0px;
          padding: 0px;
          max-width: 450px;
          box-shadow: 10px 10px 4px #0e0e0e; }
    .ultimos-trabajos .ver-mas-proyectos {
      text-align: center; }
  .clientes div h2 {
    font-size: 20px;
    margin: 0px;
    padding: 0px; } }

@media (max-width: 768px) {
  .adaptamos,
  .adaptamos-2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black; }
    .adaptamos h2,
    .adaptamos-2 h2 {
      margin: 0px 0px 50px 0px;
      font-size: 1.5rem;
      padding: 0px 30px; } }

/*PAGINA ACERCA DE*/
@media (max-width: 800px) {
  .cv {
    grid-template-columns: 1fr;
    padding: 0px 40px;
    background-color: black;
    width: 100%;
    margin: 0px; }
    .cv .div-foto {
      max-width: 100%;
      justify-content: center;
      padding: 100px 60px 0px 60px;
      display: flex; }
      .cv .div-foto img {
        max-width: 100%;
        padding: 0px 60px;
        height: auto;
        justify-content: center; }
    .cv .data-cv h3 {
      font-size: 1rem; }
    .cv .data-cv h4 {
      font-size: 2rem; }
  .section-presentacion {
    padding: 0px 40px;
    background-color: black;
    width: 100%;
    margin: 0px; }
    .section-presentacion .presentacion-pagina {
      padding-top: 50px; }
    .section-presentacion .que-es-OM .section-presentacion h4 {
      margin: 0px;
      font-weight: 600;
      padding-bottom: 30px;
      font-size: 30px; } }

/*PAGINA SERVICIOS*/
@media (max-width: 768px) {
  .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px;
    gap: 40px;
    padding: 20px 0px; } }

/*PROYECTOS*/
@media (max-width: 800px) {
  .grid-proyectos {
    width: 100%;
    padding: 50px 100px 0px 100px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr; }
    .grid-proyectos figure {
      max-width: 500px;
      padding: 0px;
      margin: 0px; }
      .grid-proyectos figure img,
      .grid-proyectos figure iframe {
        max-width: 500px; }
      .grid-proyectos figure figcaption {
        padding-bottom: 20px;
        margin-top: 20px; }
  .cierre-proyectos {
    padding: 10px 50px 50px 50px;
    background-color: black;
    margin: 0px; } }

/*CONTACTO*/
@media (max-width: 768px) {
  .contacto-data-form {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 20px; } }

/*FOOTER*/
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: start;
    width: 100%; }
    footer img {
      margin-left: -9px; } }

/*HEADER*/
.navbar-expand-lg .navbar-collapse {
  background-color: rgba(31, 31, 31, 0.822); }

/*SECTION PRINCIPAL*/
@media (max-width: 425px) {
  img,
  svg {
    vertical-align: middle;
    max-width: 150px; }
  .sectionPortada .portada-pagina-contacto {
    padding: 0px; }
    .sectionPortada .portada-pagina-contacto h1 {
      font-size: 30px;
      padding-left: 20px;
      padding-top: 160px; }
    .sectionPortada .portada-pagina-contacto h2 {
      font-size: 25px;
      padding-left: 20px; }
    .sectionPortada .portada-pagina-contacto h3 {
      font-size: 20px;
      padding-left: 20px; }
    .sectionPortada .portada-pagina-contacto .boton-portada {
      padding: 20px; }
    .sectionPortada .portada-pagina-contacto .info-de-contacto {
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px; }
      .sectionPortada .portada-pagina-contacto .info-de-contacto .icono-y-dato p, .sectionPortada .portada-pagina-contacto .info-de-contacto .icono-y-dato h1, .sectionPortada .portada-pagina-contacto .info-de-contacto .icono-y-dato h2, .sectionPortada .portada-pagina-contacto .info-de-contacto .icono-y-dato h3, .sectionPortada .portada-pagina-contacto .info-de-contacto .icono-y-dato h4 {
        font-size: 14px; }
    .sectionPortada .portada-pagina-contacto hr {
      margin: 20px; } }

/*HOME*/
@media (max-width: 425px) {
  .impronta {
    background-color: black; }
    .impronta .nuestra-impronta {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px;
      width: 100%;
      text-align: start;
      padding: 40px 40px 20px 40px; }
      .impronta .nuestra-impronta h2 {
        margin: 0px;
        padding: 0px;
        font-size: 30px; }
    .impronta .diferenciales {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px;
      width: 100%;
      text-align: start;
      padding: 0px 40px 40px 40px; }
      .impronta .diferenciales h3 {
        font-size: 24px; } }

@media (max-width: 425px) {
  .adaptamos3 {
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 20px; }
    .adaptamos3 h3 {
      font-size: 20px; }
  .servicios {
    background-color: black; }
    .servicios .adaptamos3 {
      text-align: center;
      background-color: black;
      margin: 0px;
      padding: 20px; }
      .servicios .adaptamos3 h3 {
        font-size: 20px; }
      .servicios .adaptamos3 h4 {
        font-size: 20px; }
    .servicios .bloque-servicios {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding: 0px; }
      .servicios .bloque-servicios .listado-servicios1 ul {
        padding: 0px;
        margin: 0px; }
        .servicios .bloque-servicios .listado-servicios1 ul ol,
        .servicios .bloque-servicios .listado-servicios1 ul ul {
          padding-left: 0px; }
        .servicios .bloque-servicios .listado-servicios1 ul li {
          text-align: center; }
  .ver-mas-proyectos {
    text-align: center;
    padding-top: 35px; } }

@media (max-width: 500px) {
  .ultimos-trabajos {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr; }
    .ultimos-trabajos .ultimos-titulo {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%; }
      .ultimos-trabajos .ultimos-titulo h2 {
        width: 100%;
        margin: 0px;
        text-align: center;
        padding: 20px;
        font-size: 25px;
        width: 100%;
        display: grid;
        justify-content: center; }
    .ultimos-trabajos .trabajos-index {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      gap: 30px;
      margin: 0px;
      padding: 0px; }
      .ultimos-trabajos .trabajos-index .trabajo1,
      .ultimos-trabajos .trabajos-index .trabajo2,
      .ultimos-trabajos .trabajos-index .trabajo3,
      .ultimos-trabajos .trabajos-index .trabajo4 {
        display: grid;
        justify-content: center;
        width: 100%; }
        .ultimos-trabajos .trabajos-index .trabajo1 img,
        .ultimos-trabajos .trabajos-index .trabajo2 img,
        .ultimos-trabajos .trabajos-index .trabajo3 img,
        .ultimos-trabajos .trabajos-index .trabajo4 img {
          margin: 0px;
          padding: 0px;
          max-width: 280px;
          box-shadow: 10px 10px 4px #0e0e0e; }
  .clientes div h2 {
    font-size: 20px;
    margin: 0px;
    padding: 0px; } }

/*PAGINA ACERCA DE*/
@media (max-width: 425px) {
  .cv {
    padding: 20px;
    grid-template-columns: 1fr; }
    .cv .div-foto {
      max-width: 100%;
      justify-content: center;
      padding: 0px 0px 0px 0px;
      display: flex;
      margin: 0px; }
      .cv .div-foto img {
        max-width: 100%;
        padding: 20px;
        height: auto;
        justify-content: center;
        margin: 0px; }
    .cv .data-cv h3 {
      font-size: 1rem; }
    .cv .data-cv h4 {
      font-size: 2rem; } }

.section-presentacion h4 {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }

.section-presentacion .que-es-OM h4 {
  font-size: 20px; }

.section-presentacion .que-es-OM p, .section-presentacion .que-es-OM h1, .section-presentacion .que-es-OM h2, .section-presentacion .que-es-OM h3, .section-presentacion .que-es-OM h4 {
  margin: 0px; }

/*PAGINA SERVICIOS*/
@media (max-width: 425px) {
  .cards-servicios {
    display: flex;
    background-color: black;
    width: 100%;
    align-content: center;
    justify-content: center;
    padding: 0px 50px 50px 50px; }
    .cards-servicios .card-group {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0px;
      gap: 40px;
      padding: 20px 0px; } }

/*PAGINA PROYECTOS*/
@media (max-width: 425px) {
  .grid-proyectos {
    width: 100%;
    padding: 20px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr; }
    .grid-proyectos figure {
      max-width: 280px;
      padding: 0px;
      margin: 0px; }
      .grid-proyectos figure img,
      .grid-proyectos figure iframe {
        max-width: 280px; }
      .grid-proyectos figure figcaption {
        padding-bottom: 0px;
        margin-top: 0px;
        font-size: 12px;
        padding: 10px 0px; }
  .cierre-proyectos {
    padding: 50px 20px;
    background-color: black;
    margin: 0px; } }

footer {
  padding: 40px 20px;
  margin: 0px; }
  footer h3 {
    font-size: 20px; }
