@import "./utilities/variables";
@import "./utilities/mixin";
@import "./base/reset";
@import "./base/fonts";
@import "./components/button";
@import "./components/boostrap-elements";
@import "./layout/header";
@import "./layout/section-principal";
@import "./layout/main-home"; 
@import "./layout/proyectos-page";
@import "./layout/acerca-de-page";
@import "./layout/servicios-page";
@import "./layout/contacto-page";
@import "./layout/footer";
@import "./layout/media-768";
@import "./layout/media-320";