@mixin grid-web ($width, $template, $justify, $align, $gap) {
    display: grid;
    width: $width;
    grid-template-columns: $template;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}