/*pagina acerca de*/

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 200px 100px 50px;
    background-color: black;
    width: 100%;
}

.foto-manu {
    max-width: 500px;
    height: auto;
    margin-left: -70px;
    margin-top: -45px;
    box-shadow: 5px 5px 10px rgb(16, 16, 16);
}


.div-foto {
    justify-content: end;
    padding: 30px;
    display: grid;
    align-content: center;
}


.nombre-manu {
    font-size: 2.5rem;
}

.director {
    font-size: 1.5rem;
}

.que-es-OM {
    p {
    margin: 0px
}
}