/*COMIENZO FOOTER*/

footer {
    background-color: white;
    padding: 50px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 50px 50px;
}

footer p {
    color: black;
    line-height: 1.5rem;
    font-size: 14px;
}

footer h3 {
    color: black;
}

