/*SECCION IMPRONTA*/

.impronta {
    box-sizing: 100%;
    display: inline-flex;
    width: 100%;
    padding: 100px;
    background-color: rgb(15, 15, 15);
    .nuestra-impronta {
        width: 50%;
        margin-bottom: 0px;
        margin-left: 150px;
        padding-top: 0px;
    }
    .diferenciales {
        width: 50%;
        text-align: right;
        margin-right: 100px;
    }
}

// .nuestra-impronta {
//     width: 50%;
//     margin-bottom: 0px;
//     margin-left: 150px;
//     padding-top: 0px;
// }

// .diferenciales {
//     width: 50%;
//     text-align: right;
//     margin-right: 100px;
// }


/*seccion Servicios */

.servicios {
    .adaptamos3 {
        text-align: center;
        background-color: black;
        margin: 0px;
        padding: 20px;
    }
    .bloque-servicios {
        width: 100%;
        padding: 0px 300px;
        text-align: left;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        background-color: black;
        .listado-servicios li {
            text-align: center;
            font-weight: 400;
        }
    }
}

// .servicios .bloque-servicios {
//     width: 100%;
//     padding: 0px 300px;
//     text-align: left;
//     margin: 0 auto;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 400;
//     background-color: black;
// }


// .listado-servicios li {
//     text-align: center;
//     font-weight: 400;
// }

// .adaptamos3 {
//     text-align: center;
//     background-color: black;
//     margin: 0px;
//     padding: 20px;

// }

/*fin seccion Servicios */

/*seccion ultimos trabajos*/

.ultimos-trabajos {
    padding-top: 100px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    .ultimos-titulo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        h2 {
            margin-bottom: 50px;
            padding-right: 100px;
            display: grid;
            justify-content: end;
        }
    }
    .trabajos-index {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        .trabajo1 {
            display: grid;
            justify-content: end;
            margin-bottom: -40px;
            margin-right: -20px;
            z-index: 4;
            img {
                display: grid;
                max-width: 500px;
                box-shadow: 5px 5px 30px rgb(26, 26, 26);
                text-align: end;
            }
        }
        .trabajo2 {
            display: grid;
            justify-content: start;
            margin-top: -80px;
            max-height: auto;
            z-index: 3;
            img {
                display: grid;
                max-width: 500px;
                max-height: auto;
                box-shadow: 5px 5px 30px rgb(17, 17, 17);
            }
        }
        .trabajo3 {
            display: grid;
            justify-content: end;
            z-index: 2;
            margin-right: -50px;
            img {
                display: grid;
                max-width: 500px;
                box-shadow: 5px 5px 30px rgb(17, 17, 17);
            }
        }
        .trabajo4 {
            display: grid;
            justify-content: start;
            margin-top: -300px;
            margin-left: -30px;
            z-index: 1;
            img {
                display: grid;
                max-width: 500px;
                box-shadow: 5px 5px 30px rgb(17, 17, 17);
                margin-bottom: 50px;
            }
        }
    }
}

// .ultimos-titulo {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
// }

// .ultimos-trabajos h2 {
//     margin-bottom: 50px;
//     padding-right: 100px;
//     display: grid;
//     justify-content: end;
// }

// .trabajos-index {
//     display: grid;
//     width: 100%;
//     grid-template-columns: 1fr 1fr;

// }


// .trabajo1 {
//     display: grid;
//     justify-content: end;
//     margin-bottom: -40px;
//     margin-right: -20px;
//     z-index: 4;
// }

// .trabajo1 img {
//     display: grid;
//     max-width: 500px;
//     box-shadow: 5px 5px 30px rgb(26, 26, 26);
//     text-align: end;
// }

// .trabajo2 {
//     display: grid;
//     justify-content: start;
//     margin-top: -80px;
//     max-height: auto;
//     z-index: 3;
// }

// .trabajo2 img {
//     display: grid;
//     max-width: 500px;
//     max-height: auto;
//     box-shadow: 5px 5px 30px rgb(17, 17, 17);
// }

// .trabajo3 {
//     display: grid;
//     justify-content: end;
//     z-index: 2;
//     margin-right: -50px;
// }

// .trabajo3 img {
//     display: grid;
//     max-width: 500px;
//     box-shadow: 5px 5px 30px rgb(17, 17, 17);
// }

// .trabajo4 {
//     display: grid;
//     justify-content: start;
//     margin-top: -300px;
//     margin-left: -30px;
//     z-index: 1;
// }

// .trabajo4 img {
//     display: grid;
//     max-width: 500px;
//     box-shadow: 5px 5px 30px rgb(17, 17, 17);
//     margin-bottom: 50px;
// }

/*fin seccion ultimos trabajos*/

/*SECCION CLIENTES*/

.clientes {
    text-align: center;
    padding-top: 100px;
    background-color: black;
    div h2 {
        font-size: 30px;
        margin: 0px;
        padding: 0px;
    }
    .logos-clientes {
        width: 100%;
        padding: 30px;
        img {
            &:hover {
                opacity: 70%;
            }
        }
    }
}

// .clientes div h2 {
//     font-size: 30px;
//     margin: 0px;
//     padding: 0px;
// }

// .logos-clientes {
//     width: 100%;
//     padding: 30px;
// }

// .logo-clientes:hover img {
//     opacity: 70%;
// }

/*cierre de inicio*/

.adaptamos {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    h2 {
        margin: 0px 0px 50px 0px;
    }
}

.adaptamos-2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: black;
}


// .adaptamos h2 {
//     margin: 0px 0px 50px 0px;
// }

