/*pagina proyectos y otras */

.titulo-pagina-h2 {
    padding-top: 300px;
    font-size: 40px;
    margin: 0px;
}

.bajada-pagina-h3 {
    margin-left: 0px;
}

.section-presentacion {
    padding: 50px 150px;
    background-color: black;
    width: 100%;
    .presentacion-pagina {
    padding-top: 50px;
    }
    div {
        h4 {
            color: $primary-color;
            margin-right: 300px;
        }
        p {
            font-weight: 300%;
            margin: 0px;
        }
    }
}

.grid-proyectos {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    place-items: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0px 150px;
    figure {
        display: grid;
        max-width: 500px;
        font-family: $font-main;
        color: #FFFF;
        text-align: center;
        margin-bottom: 50px;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        /* Agrega una sombra por defecto */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        &:hover {
            transform: scale(1.025);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }
        img {
            max-width: 500px;
        }
        iframe {
            max-width: 500px;
        }
        figcaption {
            padding-bottom: 50px;
            margin-top: 20px;
        }
    }
}

.cierre-proyectos {
    padding: 150px;
    background-color: black;
    hr {
        border-width: 6px 0px 0px 0px;
        border-color: $primary-color;
        margin-left: 0px;
        margin-right: 90%;
        ;
    }
    h3 {
        margin-bottom: 50px;
    }
}