/*background de seccion portada*/

.sectionPortada {
    background-image: url("../assets/img/fondo-inicio.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    .portada-pagina-contacto {
        color: white;
        width: 100%;
        height: 700px;
        font-family: $font-main;
        background-position: center center;
        background-size: cover;
        padding-left: 150px;
        padding-right: 150px;
        h1 {
            margin-bottom: 50px;
            font-size: 50px;
            padding-top: 220px;
            font-weight: 800;
        }
        hr {
            border-color: $primary-color;
            border-width: 3px 0px 0px 0px;
            padding-right: 150px;
        }
        .boton-portada {
            padding-bottom: 100px;
        }
        .info-de-contacto {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            div {
                display: inline-flex;
                gap: 10px;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.principal-servicios {
    background-image: url("../assets/img/portada-servicios.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.principal-contacto {
    background-image: url("../assets/img/portada-contacto.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.principal-acerca-de {
    background-image: url("../assets/img/portada-acerca-de.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.principal-proyectos {
    background-image: url("../assets/img/portada-proyectos.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}