/*HEADER*/
@media (max-width: 800px) {
    .navbar-expand-lg .navbar-collapse {
        background-color: rgba(31, 31, 31, 0.822);

        ul {
            li {
                a {
                    &:hover {
                        color: #9a9a9a;
                    }
                }
            }
        }
    }
}

/*section principal*/
@media (max-width: 800px) {
    .sectionPortada {
        .portada-pagina-contacto {
            padding: 0px 30px;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 25px;
            }
        }
    }
}

// .portada-pagina-contacto h1 {
//     font-size: 40px;
// }

// .portada-pagina-contacto h2 {
//     font-size: 30px;
// }

//     .portada-pagina-contacto h3 {
//         font-size: 20px;
//     }
// }

@media (max-width: 800px) {
    .info-de-contacto {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px 0px;
    }

    .boton-portada {
        padding-bottom: 30px;
    }
}

/*HOME*/

@media (max-width: 800px) {

    .impronta,
    .nuestra-impronta,
    .diferenciales {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .nuestra-impronta,
    .diferenciales {
        text-align: start;
        padding: 40px;

        h2 {
            margin: 0px;
            padding: 0px;
            font-size: 40px;
        }
    }

    .impronta {
        .nuestra-impronta {
            width: 100%;
            margin: 0px;
            padding: 50px;
        }

        .diferenciales {
            width: 100%;
            margin: 0px;
            padding: 0px 50px;
            text-align: start;
        }
    }

    // .nuestra-impronta h2 {
    //     margin: 0px;
    //     padding: 0px;
    //     font-size: 40px;
    // }
}

@media (max-width: 800px) {
    .servicios {
        background-color: black;

        .bloque-servicios {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            padding: 0px;

            .listado-servicios1 ul {
                padding: 0px;
                margin: 0px;
                text-align: center;

                li {
                    text-align: center;
                }
            }
        }
    }

    // .servicios .bloque-servicios {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     width: 100%;
    //     padding: 0px;
    // }

    // .listado-servicios ul {
    //     padding: 0px;
    //     margin: 0px;
    // }

    // ol,
    // ul {
    //     padding-left: 0px;
    // } !!!ESTE NOSE SI SE ELIMINA O NO!!!

    .adaptamos h3 {
        font-size: 20px;
    }

    .adaptamos h4 {
        font-size: 20px;
    }

    // .servicios .bloque-servicios li {
    //     text-align: center;
    // }

    .ver-mas-proyectos {
        text-align: center;
        padding-top: 50px;
    }
}

@media (max-width: 800px) {

    .ultimos-trabajos {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

        .ultimos-titulo {
            display: grid;
            grid-template-columns: 1fr;

            h2 {
                width: 100%;
                margin: 0px;
                text-align: center;
                padding: 50px 20px;
                font-size: 30px;
                width: 100%;
                display: grid;
                justify-content: center;
            }
        }

        .trabajos-index {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            .trabajo1,
            .trabajo2,
            .trabajo3,
            .trabajo4 {
                display: flex;
                justify-content: center;
                margin: 0px;

                img {
                    margin: 0px;
                    padding: 0px;
                    max-width: 450px;
                    box-shadow: 10px 10px 4px rgb(14, 14, 14);
                }
            }
        }

        .ver-mas-proyectos {
            text-align: center;
        }
    }

    // .ultimos-titulo {
    //     display: grid;
    //     grid-template-columns: 1fr;
    // }

    // .ultimos-trabajos div {
    //     width: 100%;
    // }

    // .trabajos-index {
    //     display: grid;
    //     grid-template-columns: 1fr;
    //     gap: 30px;
    // }

    // .trabajo1 img,
    // .trabajo2 img,
    // .trabajo3 img,
    // .trabajo4 img {
    //     margin: 0px;
    //     padding: 0px;
    //     max-width: 450px;
    //     box-shadow: 10px 10px 4px rgb(14, 14, 14);
    // }

    // .trabajo1,
    // .trabajo2,
    // .trabajo3,
    // .trabajo4 {
    //     display: flex;
    //     justify-content: center;
    //     margin: 0px;
    // }

    // .ultimos-trabajos h2 {
    //     width: 100%;
    //     margin: 0px;
    //     text-align: center;
    //     padding: 20px;
    //     font-size: 25px;
    //     width: 100%;
    //     display: grid;
    //     justify-content: center;
    // }

    .clientes div h2 {
        font-size: 20px;
        margin: 0px;
        padding: 0px;
    }

    // .ultimos-trabajos {
    //     display: grid;
    //     grid-template-columns: 1fr;
    // }

    // .trabajo1 img,
    // .trabajo2 img,
    // .trabajo3 img,
    // .trabajo4 img {
    //     margin: 0px;
    //     padding: 0px;
    // }
}

@media (max-width: 800px) {

    .adaptamos,
    .adaptamos-2 {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: black;

        h2 {
            margin: 0px 0px 50px 0px;
            font-size: 1.5rem;
            padding: 0px 30px;
        }

        h3 {
            margin: 0px;
            font-size: 1.5rem;
            padding: 0px 30px;
        }
    }

    .adaptamos3 {
        text-align: center;
        background-color: black;
        padding-top: 50px;

        h2 {
            margin: 0px 0px 50px 0px;
            font-size: 1.5rem;
            padding: 0px 30px;
        }

        h3 {
            margin: 0px;
            font-size: 1.5rem;
            padding: 0px 30px;
        }
    }

    // .adaptamos h2,
    // .adaptamos-2 h2 {
    //     margin: 0px 0px 50px 0px;
    //     font-size: 1.5rem;
    //     padding: 0px 30px;
    // }
}

// .ver-mas-proyectos {
//     text-align: center;
// }

/*PAGINA ACERCA DE*/

@media (max-width: 800px) {
    .cv {
        grid-template-columns: 1fr;
        padding: 0px 40px;
        background-color: black;
        width: 100%;
        margin: 0px;

        .div-foto {
            max-width: 100%;
            justify-content: center;
            padding: 100px 60px 0px 60px;
            display: flex;

            img {
                max-width: 100%;
                padding: 0px 60px;
                height: auto;
                justify-content: center;
            }
        }

        .data-cv {
            h3 {
                font-size: 1rem;
            }

            h4 {
                font-size: 2rem;
            }
        }
    }

    // .foto-manu {
    //     max-width: 100%;
    //     padding: 0px 60px;
    //     height: auto;
    //     justify-content: center;
    // }

    // .director {
    //     font-size: 1rem;
    // }

    // .nombre-manu {
    //     font-size: 2rem;
    // }

    // .div-foto {
    //     max-width: 100%;
    //     justify-content: center;
    //     padding: 100px 60px 0px 60px;
    //     display: flex;
    // }

    // .presentacion-pagina {
    //     padding-top: 50px;
    // }

    // .section-presentacion,
    // .cv {
    //     background-color: black;
    //     width: 100%;
    //     margin: 0px;
    // }

    .section-presentacion {
        padding: 0px 40px;
        background-color: black;
        width: 100%;
        margin: 0px;

        .presentacion-pagina {
            padding-top: 50px;
        }

        .que-es-OM {
            .section-presentacion h4 {
                margin: 0px;
                font-weight: 600;
                padding-bottom: 30px;
                font-size: 30px;
            }
        }
    }

    // .section-presentacion h4 {
    //     margin: 0px;
    //     font-weight: 600;
    //     padding-bottom: 30px;
    //     font-size: 30px;
    // }

    // .section-presentacion div h4 {
    //     font-size: 25px;
    // }

}

/*PAGINA SERVICIOS*/

@media (max-width: 800px) {
    .cards-servicios {
        .card-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0px;
            gap: 40px;
            padding: 20px 0px;
        }
    }
}

/*PROYECTOS*/
@media (max-width: 800px) {

    .grid-proyectos {
        @include grid-web (100%, 1fr, center, center, 20px);
        padding: 50px 100px 0px 100px;
        margin: 0px;

        figure {
            max-width: 500px;
            padding: 0px;
            margin: 0px;

            img,
            iframe {
                max-width: 500px;
            }

            figcaption {
                padding-bottom: 20px;
                margin-top: 20px;
            }
        }
    }

    // .celda-proyecto {
    //     max-width: 500px;
    //     padding: 0px;
    //     margin: 0px;
    // }

    // .celda-proyecto img,
    // .celda-proyecto iframe {
    //     max-width: 500px;
    // }

    // .celda-proyecto figure {
    //     max-width: 500px;
    //     margin: 0px;
    //     padding: 0px;
    // }

    .cierre-proyectos {
        padding: 10px 50px 50px 50px;
        background-color: black;
        margin: 0px;
    }

    // .celda-proyecto figcaption {
    //     padding-bottom: 20px;
    //     margin-top: 20px;
    // }

}

/*CONTACTO*/

@media (max-width: 800px) {
    .contacto-data-form {
        grid-template-columns: 1fr;
        margin: 0;
        padding: 20px;
    }
}

/*FOOTER*/

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        align-items: start;
        width: 100%;

        img {
            margin-left: -9px;
        }
    }

    // footer img {
    //     margin-left: -9px;
    // }
}