/*FORM DE CONTACTO BOOSTRAP*/

.form-label {
    color: white;
}

.form-control {
    border: 2px solid;
    border-color: #61ce70;
    border-radius: 0px;
    background-color: #0000;
    color: #61ce70;
}